@model VisitorManagement2022.Models.Visitors
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Welcome to @ViewBag.VisitorNew.FirstName @ViewBag.VisitorNew.LastName</h1>
    <h2>@ViewData["AnotherWelcome"]</h2>
    <div class="row">
        <div class="col-6">

            @await Html.PartialAsync("_Create")
        </div>
      

            @await Html.PartialAsync("_Conditions")

        </div>

    </div>
