@model VisitorManagement2022.Models.Visitors
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Welcome</h1>
    <br />
    <h2>@ViewData["AnotherWelcome"]</h2>

    <div class="col-6" style="margin: 0 auto;">

        @await Html.PartialAsync("_Create")
    </div>

    <div class="row">
        @await Html.PartialAsync("_Conditions")

    </div>

</div>
